<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Admin</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido, ADMIN</h1>
    </header>
    <main>
        <div class="button-container">
            <a href="{% url 'trabajador_list' %}"><button>Trabajador</button></a>
            <a href=""><button></button></a>
            <a href=""><button></button></a>
            <a href=""><button></button></a>
            <a href="{% url 'logout' %}"><button>Cerrar Sesion</button></a>
        </div>
    </main>
</body>
</html>