<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Datos Laborales</h1>
        <a href="{% url 'crear_datos_laborales' %}"><button>Crear Nuevo</button></a>
        <table>
            <tr>
                <th>ID</th>
                <th>Trabajador</th>
                <th>Cargo</th>
                <th>Área</th>
                <th>Departamento</th>
                <th>Acciones</th>
            </tr>
            {% for datos in datos_laborales %}
            <tr>
                <td>{{ datos.id_datos_laborales }}</td>
                <td>{{ datos.trabajador }}</td>
                <td>{{ datos.cargo }}</td>
                <td>{{ datos.area }}</td>
                <td>{{ datos.departamento }}</td>
                <td>
                    <a href="{% url 'editar_datos_laborales' datos.id_datos_laborales %}"><button class="miniButton">Editar</button></a>
                    <a href="{% url 'eliminar_datos_laborales' datos.id_datos_laborales %}"><button class="miniButton">Eliminar</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'home' %}"><button>Regresar al Home</button></a>
    </div>
</body>
</html>