<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajadores por Género</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Trabajadores por Género</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Género</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in datos %}
                <tr>
                    <td>{{ item.genero }}</td>
                    <td>{{ item.cantidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'home' %}"><button>Regresar al Home</button></a>
    </div>
</body>
</html>
