<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Lista de Usuarios</h2>
        <a href="{% url 'crear_usuario' %}"><button>Crear Nuevo Usuario</button></a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Usuario</th>
                    <th>Rol</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id_usuario }}</td>
                        <td>{{ usuario.nombre_usuario }}</td>
                        <td>{{ usuario.rol.nombre }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>
                            <a href="{% url 'actualizar_usuario' usuario.id_usuario %}"><button class="miniButton">Editar</button></a>
                            <a href="{% url 'eliminar_usuario' usuario.id_usuario %}"><button class="miniButton">Eliminar</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'home' %}"><button>Regresar al Home</button></a>
    </div>
</body>
</html>