{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Principal - Mi Aplicación</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Aplicación</h1>
    </header>
    
    <main>
        <div class="button-container">
            <a href="{% url 'trabajadores_home' %}" ><button>Trabajadores</button></a> 
            <a href=><button></button></a> 
            <a href=><button></button></a>
            <a href="{% url 'logout' %}"><button>Cerrar Sesion</button></a>
        </div>
    </main>
</body>
<footer>
    <p>&copy; 2024 Mi Aplicación. Todos los derechos reservados.</p>
</footer>
</html>